<div class="container">
  
  <!-- エラーがあった際はその内容を表示させる -->
    <% if @errors %>
      <div id="error_explanation">
        <h2><%= @errors.count %>件のエラーがあります。</h2>
        <ul>
          <% @errors.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
  <!-- helper で定義したメソッドで
      URL を分岐させる -->
  <%= form_for(@tweet, url: choose_new_or_edit) do |tweet| %>
  
    <div class="col-md-6 col-sm-8 col-xs-8">
      <%= tweet.text_field :content, class: "form-control" %>
      <%= tweet.submit "投稿", class: "btn btn-primary btn-sm" %>
    </div>
  
  <% end %>
    
</div>